body {
    font-family: Arial, sans-serif;
    margin: 0;
}
header, nav, main, aside, footer {
    padding: 20px;
    margin: 10px;
}
header {
    background-color: #4CAF50;
    color: white;
}
nav {
    background-color: #333;
    color: white;
}
nav a {
    color: blue;
    margin-right: 15px;
    text-decoration: none;
}
main {
    display: flex; /* flexible para evitar superposionamiento */
}
section {
    flex: 2;
    background-color: #b92b2b;
    padding: 10px;
    margin: 15px;
    
}
aside {
    flex: 1;
    background-color: #99a7d6; 
    padding: 10px;
    max-width: 200px;
    height: 200px;
    /* width, height sirven para controlar el ancho y altura*/
    flex-direction: column;  /* coloca aside en columnas*/
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
}
article {
    background-color: #d1dfa1;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #cccccc;
}
.contenedor {
    max-width: 1280px;
    margin: auto;
}
.margen_imagen {
    margin-right: 20px;
}

.aside_imagenes {
    background-color: white;
}

.color_link:hover  {
    color: green;

}
.seudo_elemento {
    color: black;
    


}


.primera_letra::first-letter {
   color: darkblue;
   font-size: 150%;

}

.seudo_elemento::first-line {
    color: blue;
    background-color: crimson;


}

.clase_static {
     font-size: 20px;
     background-color: aqua;
     position: static;
     margin-top: 20px;
     margin-left: 80px;
     margin-right: 200px;


}
.clase_static2 {
    font-size: 20px;    
    background-color: aqua;
    position: static;
    top: 20px;
    left: 80px;     /* espacio desde la izquierda*/
    right: 200px;    /* espacio desde la derecha*/

}

.clase_relative{
    font-size: 30px;
    background-color: aqua;
    height: 200px;
    width: 200px;

}

.clase_relative:hover {
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
}

.clase_relative_index{

    font-size: 20px;
    background-color: aqua;
    height: 250px;
    width: 200px;
}
.clase_relative_index:hover {
    position: relative;
    top: 100px;
    left: 100px;
    z-index: -10;
}

.clase_Absolute {
    font-size: 20px;
    background-color: blue;
    height: 250px;
    width: 200px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.clase_relative2 {
    font-size: 20px;
    background-color: aqua;
    height: 250px;
    width: 200px;
    position: relative;
}
.clase_Absoluterelative {
    font-size: 20px;
    background-color: aqua;
    height: 200px;
    width: 150px;
    position: absolute;
    bottom: 100px;
    left: 800px;
    z-index: 5;

}
.clase_Fixed{
    height: 600px;
    width: 1000px;
    position: fixed;
    left: 400px;
    bottom: 0px;
}

.marcaagua{
    opacity: 0.1;
    pointer-events: none;
    z-index: 999;
}
.clase_sticky{
    position: sticky;
    font-size: 40px;
    top: 0px;
    left: 40px;
    height: 300px;

}

.class_float_right2 {
    float: right;
    background-color: blueviolet;
    margin: 5px;
}

.bloque{
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: aquamarine;
}

.tipoinlineblock{
    background-color: #b92b2b;
    font-size: 30px;
    margin: 10px;
    color: azure;
    display: inline-block;
    width: 500px;
}

.enlinea{
    background-color: forestgreen;
    display: inline;
    font-size: 30px;
    margin: 2px;
    color: aliceblue;
    width: 80px;
    height: 40px;
}
.tiponone{
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: aquamarine;
    display: none;
}
.tipohidden{
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: aquamarine;
    visibility: hidden;
}

.tipoflex{
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: space-between;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    gap: 15px; /* Espacio entre celdas */
  }
  
  .item img {
       max-width: 100%; /* Para que no se desborde */
  }
  
  .item {
   display: flex;
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
    border: 1px solid #333;
    font-size: 30px;
     justify-content: center;  /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente */
  }

  #Mivideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; /*Asegura que el video ocupe al menos todo el ancho de su contenedor */
    min-height: 100%; /*Asegura que el video ocupe al menos todo el alto de su contenedor */
    width: auto;
    height: auto;
    z-index: -1;

    background-size:cover; /*imagen de fondo cubra todo el contenedor,
                             incluso si tienes que recortarla o agrandarla. */
    overflow: hidden; /*Oculta cualquier contenido que se salga del área visible del elemento */
}
.claseNav { /*estilo nav*/
    background-color: blue;
    font-size: 30px;
    /* margin: 20px;*/
    padding-inline: 0px ;
    color: black;
    display: inline;
    list-style-type: none ;
}
.claseNav a:hover{
    background-color: chocolate;
}

.claseNav ul{
    list-style-type: none ;
    display: block;
    margin: 0px ;
    padding: 0px ;
}
.claseNav li a {
    text-decoration: none;
    padding: 6px 11px;
    display: block;
}
.claseNav >li{
    float: right;
}
.claseNav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
.claseNav li:hover>ul {
    display: block;
}